In [1]:
import pandas as pd
df=pd.read_csv('BlackFriday.csv')
df.head()

   User_ID Product_ID Gender   Age  ...  Product_Category_1 Product_Category_2 Product_Category_3  Purchase
0  1000001  P00069042      F  0-17  ...                   3                NaN                NaN      8370
1  1000001  P00248942      F  0-17  ...                   1                6.0               14.0     15200
2  1000001  P00087842      F  0-17  ...                  12                NaN                NaN      1422
3  1000001  P00085442      F  0-17  ...                  12               14.0                NaN      1057
4  1000002  P00285442      M   55+  ...                   8                NaN                NaN      7969

[5 rows x 12 columns]

In [6]:
df['User_ID'].nunique()

5891

In [7]:
df['Product_ID'].nunique()

3623

In [8]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [11]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [12]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [13]:
df['Marital_Status'].unique()

array([0, 1])

In [14]:
df['Product_Category_1'].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9])

In [16]:
df['Purchase'].sum()/len(df['Purchase'])

np.float64(9333.859852635065)

In [24]:
for column in df.columns:
    print(column,' \t: ',df[column].nunique())

User_ID  	:  5891
Product_ID  	:  3623
Gender  	:  2
Age  	:  7
Occupation  	:  21
City_Category  	:  3
Stay_In_Current_City_Years  	:  5
Marital_Status  	:  2
Product_Category_1  	:  18
Product_Category_2  	:  17
Product_Category_3  	:  15
Purchase  	:  17959